@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
  background-color: pink;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  margin: 2em;
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,  45%,#d6249f 60%,#285AEB 90%); */
  /* padding: 2em; */

}
/* .links {
  background-color: whitesmoke;
  text-align: center;
  padding: 1em;
  margin: 2em;
} */
.title {
  font-size: 2em;
  text-align: center;
}

.form {
  text-align: center
}

.WreckDisplay {
  text-align: center;
  font-size: 1.5em;
}

.body {
  background-color: whitesmoke;
  text-align: center;
  padding: 1em;
  margin: 2em;
}
